<ion-header>
	<ion-navbar>		
		<ion-title>Gama Contacts</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addContact()"><ion-icon name="person-add"></ion-icon></button>
		</ion-buttons>	
	</ion-navbar>
</ion-header>

<ion-content>
	<!-- <ion-item-group *ngFor="let group of groupedContacts">
		<ion-item-divider light>{{group.letter}}</ion-item-divider> -->
		<ion-list>
			<ion-item-sliding *ngFor="let contact of contacts">
				<ion-item>
					{{contact.name}}
				</ion-item>
				<ion-item-options>
					<button ion-button icon-only (click)="editContact(contact)" light>
						<ion-icon name="paper"></ion-icon>
					</button>
					<button ion-button icon-only (click)="deleteContact(contact)" danger>
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	<!-- </ion-item-group> -->
	
	<!-- <ion-tabs>
		<ion-tab [root]="tab1Root" tabTitle="Gama Contacts" tabIcon="person"></ion-tab>>
	</ion-tabs> -->
</ion-content>
